/* ----- HOMEPAGE ------ */

/* RECOMENDATIONS SECTION */
.recommendations{
  background-color: #FEFCF4;
  padding-top: 5%;
  padding-bottom: 5%;
}

.recommendationsContainer{
  text-align: center;
  align-items: center;
  align-content: center;
}

#recommendationsCard{
  align-self: center;
  align-content: center;
  padding: 1% 1rem;
}

.more-info-btn{
  background-color: #43B6AF;
  border: none;
  border-radius: 50px;
  height: 200%;
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 90%;
  color: #FEFCF4;
  padding: 4% 2%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.more-info-btn:hover{
  background-color: #157267;
  color: #FEFCF4;
  text-decoration: none;
}

.sectionTitle h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 400%;
  margin-bottom: 2rem;
}

#recsCard {
  display: flex;
  flex-direction: column;
  background-color: #11100E;
  border: none;
  border-radius: 30px;
  margin-bottom: 5%;
}

#recsCard img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.recsCards .col {
  display: flex;     
}

.recsCards .card {
  flex: 1 1 auto;     
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 90%;
  color: #FEFCF4;

  display: -webkit-box;       
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;    
  overflow: hidden;             
  text-overflow: ellipsis;     
}

.seeAllButton{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 100%;
  color: #11100E;
  padding: 1% 2%;
}

.hover-underline {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 100%;
  color: #11100E;
  padding: 1% 2%;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #157267, #00F0EF);
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -2px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}





/* INFO SECTION */
.ourInfo{
  background-color: #157267;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#infoCardHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 110%;
  color: #11100E;
}

#infoCardText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 90%;
  color: #11100E;
  margin: 0;
}

.infoCard {
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 2%;
  background-color: #43B6AF;
  border-radius: 30px;
  width: 30%;
}

.infoCard i{
  font-size: 300%;
  color: #157267;
  margin-bottom: 5%;
}

#iconMinorContactUs{
  font-size: 100%;
  color: #11100E;
}

.infoCardRow{
  gap: 5%;
}





/* Movie of The Month Section */
.movieOfTheMonth{
  background-color: #FEFCF4;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.motmTextContainer{
  text-align: left;
  align-items: center;
  align-content: center;
  margin-bottom: 5%;
}

#viewMoreButton{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 100%;
  color: #FEFCF4;
  padding: 1% 2%;
  width: 15em;
  height: 4em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#viewMoreButton a{
  text-decoration: none;
  color: #FEFCF4;
}

#viewMoreButton i{
  padding-left: 4%;
}

.holographicContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.holographicCard {
  background: #11100E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 80px;
  transition: all 0.5s ease;
}

.holographicCard a {
  color: #00F0EF;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographicCard::before {
  content: '';
  position: absolute;
  top: -60%;
  left: -60%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographicCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1em #157267;
}

.holographicCard:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(140%);
}

.motmText p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 00;
  font-size: 110%;
  color: #11100E;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-right: 7%;
}

.motmImage{
  display: flex; 
  justify-content: center; 
  align-items: center; 
}





/* ----- LIBRARY ------ */

/* ALL MOVIES SECTION */
.librarySection{
  background-color: #157267;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#libraryHeaderText{
  margin: 0;
  display: flex;
  align-items: center;
}

.textAndFilter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2% 4%;
}

.textAndFilter h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 400%;
  color: #FEFCF4;
}

.searchAndSort{
  display: flex;
  align-self: center;
}

.librarySearchBar{
  margin-right: 20%;
  border-radius: 50px;
  background-color: #FEFCF4;
  border: none;
}

.navSearchBar{
  margin-right: 20%;
  border-radius: 50px;
  background-color: #FEFCF4;
  border: none;
  width: 250px;
  padding: 3% 2%;
}
/* .searchBar{
  border-radius: 50px;
  border: none;
  padding: 6% 6%;
  margin-right: 10%;
  width: 330px;
  height: 40px;
  background-color: #157267;
  display: flex;
  align-items: center;
  align-content: center;
}

.searchBar p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 130%;
  color: #FEFCF4;
  padding: 6%;
  margin: 0;
} */

/* .searchBar i{
  font-size: 120%;
  color: #FEFCF4;
  padding: 2%;
} */

.sortByDropdown{
  display: flex;
  align-items: center;
  align-content: center;
}

.formSelect{
  border-radius: 50px;
  border: none;
  padding: 6% 10%;
  background-color: #43B6AF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 100%;
  color: #FEFCF4;
}

/* CARDS */
#libraryCard{
  /* margin-bottom: 6%; */
  align-self: center;
  align-content: center;
  padding: 1% 1rem;
}


.libraryCardBody{
  background-color: #FEFCF4;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 6% 6%;
}

.libraryCard{
  margin-bottom: 3%;
}

.movieTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  margin-bottom: 5%;
  color: #11100E;
  min-height: 3em;
  margin-top: 15px;
}

.genreAndYear{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.genreAndYear p{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 90%;
  color: #157267;
  padding-right: 2%;
}

.genreAndYear i{
  color: #157267;
  margin-right: 4%;
  font-size: 130%;
}

.cardText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 100%;
  color: #11100E;
  margin: 5% 0;
  display: -webkit-box;     
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;    
  overflow: hidden;             
  text-overflow: ellipsis;      
}


.libraryCardButtons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.libraryCardButtons i{
  margin-right: 5%;
  font-size: 100%;
  color: #FEFCF4;
}

/* #watchlistButton{
  margin-right: 5%;
  background-color: #11100E;
  border: none;
  border-radius: 50px;
  height: 200%;
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 90%;
  color: #FEFCF4;
  padding: 4% 2%;
}

#watchlistButton a{
  text-decoration: none;
  color: #FEFCF4;
} */



/* ----- WATCHLIST ------ */
/* MY WATCHLIST SECTION */
.watchlistHeader{
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#watchlistHeaderText{
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 400%;
  color: #FEFCF4;
}

/* NAVBAR */
nav{
  opacity: 100%;
  background-color: #00F0EF;
}

.navbar-brand img {
  max-height: 60px;
  height: auto;
  width: auto;
}

.navbarContainer{
  padding: 0 3%;
}

.nav-link{
   color: #11100E;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.nav-link.active{
 color: #11100E;
 font-weight: 800;
 text-decoration: underline;
}

.nav-link:hover{
  color: #FEFCF4 !important;
  
}

form input.placeholder {
  color: #157267 !important;
  opacity: 1;
}

.form-control{
  color: #157267 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 100%;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 30%;
  color: #157267;
  pointer-events: none;
  font-size: 1rem;
}



/* SLIDER */
.carousel-item{
  height: 100%;
}



/* FOOTER */
.footer {
  background-color: #11100E;
  color: #fefcf4;
  padding: 40px 20px;
}

.footerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-img {
  display: flex;
  justify-content: center; 
  max-height: 100px;
  width: auto;
  height: auto;
  padding: 10px;
}

#iconSocials{
  font-size: 50px;
  color: #FEFCF4;
}

.social-icon{
  margin-bottom: 10%; 
}

.social-icon a{
  text-decoration: none !important; 
  outline: none;
}

.social-icon i{
  padding: 1% 0;
  padding-right: 10%;
}

.navigationLinks a{
  color: #FEFCF4;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navigationLinks a:hover{
  color: #43B6AF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.navigationLinks a.active{
  color: #FEFCF4;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}


.navigationLinks a{
  padding: 1% 0;
}


.otherPages {
  color: #FEFCF4;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

.otherPages p{
  padding: 1% 0;
}

.otherPages p:hover{
  color: #43B6AF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.terms{
  color: #157267;
  text-align: right;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  pointer-events: none;
}